/* Empty. Add your own CSS if you like */
.padding{
	background-color: red;
}

.list{
	background-color: blue;
}

.noresumido{
	background-color: #fdf2d1 !important;
}

.noresumido .item-content{
	background: transparent;
}

ion-content.inactivo{
	opacity: 0.4;
	background-color: #fdf2d1;
}

.mi_contenedor{
	width: 90%;
	margin:0 auto;
	padding: 20px;
}

.img_rounded{
	border-radius: 8px;
	overflow: hidden;
	width: 214px;
	height: 236px;
	margin: 0 auto;
}

.img_rounded{
	width: 100%;
}

.mi_contenedor h2{
	text-align: center;
	background-color: #fdf2d1;
}

.video-container{
	text-align: center;
	margin-left: -106px;
	margin-top: -8px;
	border:10px;
	border-color: red;
}

.rotulo{
	color: #666666;
}

.valor{
	color: #333333;
	font-size: 1.4em;
	font-weight: bold;
}

